<form [formGroup]="addressForm" class="search">
        <div class="full-width search">
                 <!--<mat-form-field class="full-width search">-->
              <input type="text"  placeholder="Find Things you Need, borrow them, save money & the planet">
            <!--<mat-icon >mode_edit</mat-icon>-->
            <button class="search-button" mat-fab aria-label="Example icon button with a menu icon">
          <mat-icon>search</mat-icon>
        </button>
       <!-- </mat-form-field>-->
        </div>
      
      </form>
