@import "src/styles/variables";

.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: $dashboard-background-color
}

.example-sidenav {
  padding: 20px;
  background-color: $dashboard-background-color;
  border:0 0 0 0;
}