<!--
<mat-drawer-container class="example-container" [class.example-is-mobile]="mobileQuery.matches">
 autosize >-->
 <!-- <mat-drawer #drawer class="example-sidenav" > <!-- (window:resize)="drawer.toggle()"> mode="side" opened-->
      <!--<app-categories></app-categories>
  
  </mat-drawer>

  <div class="example-sidenav-content">
  
   <!-- <button mat-mini-fab (click)="drawer.toggle()" >
     <mat-icon>reorder</mat-icon>
    </button>-->

 <!-- <app-search></app-search>

  <app-itemslist></app-itemslist>
 
</div>

</mat-drawer-container>-->

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <!--<h1 class="example-app-name">Responsive App</h1>-->
    <div class="search">
    <app-search></app-search>
  </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"  fixedTopGap="100">
      <mat-nav-list>
        <app-categories></app-categories>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        

        <app-itemslist></app-itemslist>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>