@import "src/styles/variables";
@import "src/styles/fonts";


.content {
    padding: 16px 0 0 16px;
    background-color: $dashboard-background-color;
}

.grid-container {
  margin: 20px;
 position: relative;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  width: 250px;
  border-radius: 25px;
}

.grid-tile{
    margin:0 0 0 0;
}


.dashboard-card-content {
  text-align: left;
}

.image{
    max-height: 70%;
}

.add-item{
 //margin-top: 15px;
 position: absolute;
 top:2% !important;
 transform: translate(0,-20%);
 float: left;   
  z-index: 1030;
}

.rate{
    color: $primary-color;
}

.title {
    display:block; width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: $fw-bold;
}