@import "src/styles/variables";
@import "src/styles/fonts";


.content {
    padding: 16px 0 0 16px;
    background-color: $dashboard-background-color;

  justify-content: center;
   text-align: center!important;
  align-content: center;

}

.grid-container {
  display: flex;
  flex-direction: columns;
  margin: 20px;
  position: relative;
  justify-content: center;

}

.dashboard-card {    
  position: absolute;
  top: 15px;
  //left: 15px;
  //right: 15px;
  bottom: 15px;
  width: 250px;
  border-radius: 25px;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
    text-align: center!important;


  align-content: center;
  @media screen and (min-height: 768) {
  top:2% !important;
 transform: translate(0,-20%);
 }
}

.grid-tile{
  margin:0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-content: center !important;

}
.mat-grid-tile{
 justify-content: center !important;
 align-content: center !important;
 align-items: center !important;
  text-align: center!important;

}



.dashboard-card-content {
  text-align: left;

}

.image{
    max-height: 70%;
}

.add-item{
 position: absolute;
 float: left;  
 @media screen and (min-height: 768) {
  top:2% !important;
 transform: translate(0,-20%);
 }
}

.rate{
    color: $primary-color;
}

.title {
    display:block; width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: $fw-bold;
}