@import "src/styles/variables";

.full-width {
  width: 100%;

}

.add-item{
  width:250px;
  background-color: $dashboard-background-color;
  border-style: dashed;
  border-color: $font-color;
  justify-content: center;
  align-items: center;
  height:300px;
  border-radius: 25px;
 
  align-content: center;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}


.mat-button{
  color:$font-color;
  height:100px;
  width:100px;
}
.mat-icon{
}

.content{
  justify-content: center;
  align-items: center;
  text-align: center;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
