@import "src/styles/colors";

$extra-small: 476px;
$small: 576px;
$medium: 768px;
$normal: 1024px;
$large: 992px;
$extra-large: 1200px;

//Dashboard Variables
$dashboard-background-color:$light-grey;
$font-color:$dark-grey;

//Search
$search-background-color:$secondary-color;
$button-color:$primary-color;
