<form [formGroup]="addressForm" >  
      <div class="row">
          <mat-form-field class="category">
            <mat-label>Categories</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Categories"
                     matInput
                     [formControl]="categoriesControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
             <mat-option *ngFor="let option of categoriesList | async" [value]="option.name">
                {{option.name}}
            </mat-option>
            </mat-autocomplete>
          </mat-form-field>       
      </div>
      <div class="row">
        
            <ul>
            <li *ngFor="let option of categoriesList | async">
               <mat-checkbox >
                     {{option.name}}
              </mat-checkbox>
            </li>
          </ul>
         

       
      </div>
      
</form>
