@import "src/styles/variables";

.row {
  display: flex;
  flex-direction: row;
}


ul 
{
  list-style-type: none;
  margin-top: 4px;
}

li{
  
  margin-left:0px;
  align-content: left;
}

.category {
  width:100%;
  margin: 0 8px 8px 0;
  display: flex
}

.mat-checkbox{
  color:$dark-grey !important;
}